.bg-login {
    background-image: -webkit-gradient(linear, left top, right top, from(#1FA2FF), to(#A6FFCB));
    background-image: -webkit-linear-gradient(left, #1FA2FF, #A6FFCB);
    background-image: -moz-linear-gradient(left, #1FA2FF, #A6FFCB);
    background-image: -o-linear-gradient(left, #1FA2FF, #A6FFCB);
    background-image: linear-gradient(to right, #1FA2FF, #A6FFCB);

     /* background-image: -webkit-gradient(linear, left top, right top, from(#9f78ff), to(#32cafe));
    background-image: -webkit-linear-gradient(left, #9f78ff, #32cafe);
    background-image: -moz-linear-gradient(left, #9f78ff, #32cafe);
    background-image: -o-linear-gradient(left, #9f78ff, #32cafe);
    background-image: linear-gradient(to right, #9f78ff, #32cafe); */
}

.user-pagelimit-select{
    max-width: 100px;
    min-width: 80px;
}

.delete-icon, .restore-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.delete-icon:hover{
    color: #e63946;
}

.restore-icon:hover{
    color: #4154f1;
}

.linkedin-search{
    max-width: 400px;
}

.user-list-tr:hover {
    cursor: pointer;
    background: #f6f9ff !important;
}

.user-fullname {
    min-width: 200px;
}

.mr10{
    margin-right: 10px;
}

.cr-p{
    cursor: pointer;
}

.upload-input{
    max-width: 500px;
}

.mnwd {
    min-width: 200px !important;
}


.loginSpinner {
    padding: 6rem;
}

.btn-custom {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}


@media (min-width: 1200px){
    .logo {
        width: unset !important;
        /* width: 280px; */
    }
}
